@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,
body {
    scroll-behavior: smooth;
}
.sidebar
 {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69fe2 100%);
    border-right: 1px solid rgb(228, 228, 228);
    box-shadow: 1px 0px rgba(0, 0, 0, 0.05);
}
.MyProfile{
    background-color: rgba(39, 197, 34, 0.851);
}

.logo {
    margin-top: 35px;
    margin-bottom: 60px;
    margin-left: 20px;
    font-weight: 100px;
}

.logo img{
    width: 200px;
    cursor: pointer;
}

.sidebar-link,
.sidebar-link-settings {
    height: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.sidebar-link div,
.sidebar-link-settings div {
    margin-left: 15px;
}

.sidebar-link i,
.sidebar-link-settings i {
    margin-left: 15px;
}
.home-area,
.create-area {
    margin-right: 80px;
}

.MyProfile {
    margin-right: 60px;
    
}

.BookSlot,
.Notifications {
    margin-right: 30px;
}
.Rewards{
    margin-right: 40px;
}
.Settings{
    margin-right: 50px;
}

.home-area,
.MyProfile,
.BookSlot,
.Notifications,
.Rewards,
.Settings{ 
    transition: all 0.15s;
}

.sidebar-link:hover,
.sidebar-link-settings:hover {
    background-color: rgba(39, 197, 34, 0.851);
}
.two-forms {
    display: flex;
    gap: 15px;
}
.MyProfile-container {
    height: 100vh;
    width: 100vw;
    display: space;
    flex-direction: column;
    background-image: url("../images/main-white-bg.jpg");
    margin-left: 250px;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 90px;
    border: 1px solid rgba(68, 66, 66, 0.312);
}
.MyProfile-header {
    color: #4fba56;
    /* background-color: hwb(0 20% 16%); */
    font: "Poppins";
    font-size: 40px;
    text-align: center;
    margin-right: 450px;
    padding-bottom: 50px;
    
}

.two-forms {
    display: flex;
    gap: 15px;
}
.input-field {
    font-size: 15px;
    background: #ffffff;
    color: black;
    height: 50px;
    width: 70%;
    padding: 0 10px 0 40px;
    border: 1px solid rgba(227, 213, 213, 0.8);
    box-shadow: 2px 2px 4px rgba(159, 155, 155, 0.579);
    border-radius: 10px;
    outline: none;
}

.input-field:hover, .input-field:focus, .Input-field:hover, .Input-field:focus {
    background: rgba(57, 35, 35, 0.25);
}

::-webkit-input-placeholder {
    color: #cf2828;
}
 .input-box i {
    position: relative;
    top: 33px;
    left: 17px;
    color: #891010;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.Input-field{
    font-size: 15px;
    background: #ffffff;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 245px 0 40px;
    border: 1px solid rgba(227, 213, 213, 0.8);
    box-shadow: 2px 2px 4px rgba(159, 155, 155, 0.579);
    border-radius: 10px;
    outline: none;
}
.EditButton{
    color: #c01d1d;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    padding: 2px 6px;
}
.EditButton:hover{
    color: #0f5d15;
    transition: ease-in;
}